* {
  font-family: "Roboto";
}

body {
  background-color: #dff1f8;
}

body.darkModeActivate {
  background-color: #282828;
  color: #ffff;
}

asdfasfa nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding-top: 3em;
}

section {
  display: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
  height: 100%;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  font-weight: 300;
}
